header{
    height: 100px;
    background: $secondaryColor;
    padding: 0 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        text-transform: uppercase;
        color: $mainColor;
        font-weight: 200;
        animation-name: cambiarColor;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    
    }

    .logo:hover{
        animation-play-state: paused;
    }
    
    @keyframes cambiarColor{
        from{ 
            color: $mainColor;
        }
        to{
            color:#fff
        }
    } 
    
        .menu a{
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            padding: 0 10px;
            transition: 0.4s;

            &:hover{
                color: $tercerColor;
            }
        }
        
         .mostrar-menu,
        .esconder-menu{
            font-size: 30px;
            cursor: pointer;
            display: none;
            transition: 0.4s;

            &:hover{
                color: $tercerColor;
            }
        }
        
        .mostrar-menu{
            order: 1;
            &:hover{
                color: $tercerColor;
            }
        }
        
        #check{
            display: none;
        }
    

}
